@import "../../assets/styles/main";

.cart {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 100%;
  background-color: rgba($white, 0.9);
  padding: 10px;
  box-shadow: 0 0 5px $black;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  max-height: 300px;
  transform-origin: right center;
  animation-timing-function: ease;

  &-product {
    overflow-y: auto;
    line-height: 1.5;
    display: grid;
    grid-template-columns: 1fr 2fr auto;
    gap: 10px;

    img {
      max-height: 100px;
      width: auto;
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateX(50vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50vw);
  }
}