@import "../../assets/styles/main.scss";

.product-card {
  padding: 1rem;
  box-shadow: 0 0 1px gray;
  position: relative;
  display: flex;
  flex-direction: column;

  * {
    user-select: none;
  }

  &-image {
    margin-bottom: 20px;
    position: relative;
  }

  &-body {
    flex-grow: 1;
  }

  &-footer {
    display: flex;
    justify-content: space-between;
  }

  h3 {
    font-size: 2.5rem;
  }

  .like-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }

  .price {
    font-size: 2.5rem;
    font-weight: 700;
    position: absolute;
    top: 4rem;
    left: 4rem;
    line-height: 1;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .btn {
    margin-top: 2rem;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  img {
    transition: $transition;
  }
}
